<div class="container">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <div class="box">
                <h1 class="title">{{post.title}}</h1>
                <p class="content">{{post.content}}</p>
                <p class="subtitle">Author ID: {{post.authorId}}</p>
            </div>
        </div>
    </div>
</div>
