<section class="section">
    <div class="container">
        <h1 class="title is-1">All Posts</h1>
        {{#each posts}}
        <div class="box">
            {{#if this.title}}
            <h2 class="subtitle">{{this.title}}</h2>
            {{/if}}
            {{#if this.content}}
            <p>{{this.content}}</p>
            {{/if}}
            {{#if this.authorUsername}}
        <p>Author: {{authorUsername}}</p>
            {{/if}}
        </div>
        <hr class="is-marginless">
        {{/each}}
    </div>
</section>
